ACTION=="add", KERNEL=="mali0", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ump", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="video6", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video7", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="iio:device*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video23", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video26", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video29", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video32", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video24", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video27", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video30", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video33", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video34", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="media0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="media1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video40", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video41", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video42", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video43", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video44", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="media2", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video16", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="video17", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video18", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video19", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttySAC0", OWNER="bluetooth", GROUP="net_bt_stack", MODE="0660"
ACTION=="add", KERNEL=="ttySAC1", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bcm2079x", OWNER="nfc", GROUP="nfc", MODE="0660"
ACTION=="add", KERNEL=="video12", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="mobicore", OWNER="video", GROUP="video", MODE="0600"
ACTION=="add", KERNEL=="mobicore-user", OWNER="drm", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="s5p-smem", OWNER="drm", GROUP="video", MODE="0660"
